h1{
    padding-top: 90px;
    font-size: 52px;
}
h2{
    font-size: 34px;
    padding-top: 30px;
}
main{
    text-align: center;
}
main p{
    padding-top: 30px;
    font-size: 31px;

}