body{
    color: #222;
    background-color: #F4F4F4;
}
h1{
    padding-top: 90px;
    font-size: 52px;
    color: #434343;
}
h2{
    font-size: 34px;
    padding-top: 30px;
    color:#434343;
}
main{
    text-align: center;
}
main p{
    padding-top: 30px;
    font-size: 31px;
}
@media (max-width: 768px){
    h1{
        padding-top: 60px;
        font-size: 48px;
    }
    h2{
        font-size: 32px;
        padding-top: 20px;
    }
    main p{
        padding-top: 30px;
        font-size: 24px;
        padding-bottom: 10px;
    }
}