main {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: calc(100vh - 30vh); 
    padding: 20px;
}
.contactUs-warpper h1 {    
    padding-bottom: 30px;
    text-align: center;
    background: linear-gradient(90deg, #FF5F6D, #FFC371);
    background-clip: text;
    color: transparent;
    font-size: 48px;
}
.location{
    padding: 20px;
    font-size: 24px;
    text-align: center;
}
.phoneNumber{
    padding: 20px;
    font-size: 24px;
    text-align: center;
}
#location-emoji{
    background-color: hsl(0, 0%, 95%);
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
}
#phoneNumber-emoji{
    background-color: hsl(0, 0%, 95%);
    padding: 5px;
    border-radius: 5px;
}

