* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
}

::-webkit-scrollbar {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    color: black;
}

nav {
    height: 50px;
    width: 100%;
    box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.25);
    z-index: 5;
    position: fixed;
    background-color: #f2f2f2;
}

nav ul {
    display: flex;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    flex-grow: 1;
}


.logo {
    font-weight: bold;
    margin: 10px;
    font-size: 24px;
    float: left;
    user-select: none;
    background: linear-gradient(90deg, #FF5F6D, #FFC371);
    background-clip: text;
    color: transparent;
    height: 40px;
    position: absolute;
}

nav ul li {
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
}

nav ul li a {
    color: black;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 10px;
    user-select: none;
    font-weight: bold;
}

a:not(.logo, .prev, .next, .products-container a):hover {
    transition: .1s ease;
    background: linear-gradient(90deg, #FF5F6D, #FFC371);
    background-clip: text;
    color: transparent;
}

.checkbtn {
    font-size: 30px;
    float: left;
    display: none;
    cursor: pointer;
    user-select: none;
    padding: 10px;
    border-radius: 5px;
    background: linear-gradient(90deg, #FF5F6D, #FFC371);
    background-clip: text;
    color: transparent;
}

#check {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 4;
    display: none;
}

#emoji {
    padding-right: 5px;
}

@media (max-width: 768px) {
    .checkbtn {
        display: block;
        font-size: 20px;
        padding: 8px;
    }

    nav {
        display: block;
        height: 40px;
        justify-content: space-between;
    }

    .logo {
        font-size: 14px;
        margin: 0px;
        padding: 12px;
    }

    .one {
        font-size: 16px;
        padding-top: 15px;
    }

    ul {
        position: fixed;
        width: 50%;
        height: 100vh;
        top: 40px;
        left: -100%;
        text-align: left;
        transition: all .5s ease-in-out;
        z-index: 5;
    }

    nav ul li {
        display: block;
        margin: 0;
        line-height: 40px;
    }

    nav ul li a {
        font-size: 12px;
    }

    a:hover {
        color: lightblue;
    }

    #check:checked~ul {
        display: block;
        left: 0;
        box-shadow: 0 2px 2px hsla(0, 0%, 0%, 0.25);
        margin-left: 0;
        background-color: hsl(0, 0%, 95%);
        margin-top: 1px;
    }

}