.thumbnail-images {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.thumbnail-images img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 10px;
    cursor: pointer;
    border: 2px solid transparent;
}

.thumbnail-images img:hover {
    border: 2px solid #FF5F6D;
}

#mainImage {
    width: 300px;
    height: 300px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.ProductImg {
    text-align: center;
}