.product-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-top: 150px;
    max-width: 1200px;
    
}
.ProductImg img {
    max-width: 400px;
    width: 100%;
    padding-bottom: 40px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 3px hsla(0, 0%, 0%, 0.4);
}
.ProductImg {
    margin-right: 20px;
}
.ProductDetails {
    max-width: 600px;
    padding-left: 60px;
}

.ProductDetails h3 {
    font-size: 2em;
    margin-bottom: 20px;
}
.ProductDetails .description {
    padding-bottom: 20px;
}
.ProductDetails .price{
    padding-bottom: 20px;
}
@media (max-width: 768px) {
    .product-container{
        padding-top: 80px;
        display: grid;
        grid-template-columns: 1fr;
    }
    .ProductImg{
        margin-left: auto;
        margin-right: auto;
    }
}