.products img {
    width: 200px;
    height: 200px;
    padding: 15px;
}

.products p {
    color: black;
}

.products p {
    padding: 4px;
}

.products {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;
    padding-bottom: 15px;
    margin-left: 30px;
}

.products:hover {
    transform: scale(1.1);
    border: 5px solid #FF5F6D;
}

#no-products-message{
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    color: red;
}
@media (max-Width: 768px) {
    .products-container {
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }

    .products img {
        width: 150px;
        height: 150px;
    }

    .products {
        width: 250px;
        height: 250px;
    }
    #no-products-message{
        font-size: 16px;
    }
}